# ============================================================================
# CMDLINE & SELinux Permissivo
# ============================================================================
CONFIG_CMDLINE="androidboot.selinux=permissive"
CONFIG_CMDLINE_EXTEND=y
CONFIG_SECURITY_SELINUX_DEVELOP=y
# CONFIG_SECURITY_SELINUX_ALWAYS_ENFORCE is not set
CONFIG_SECURITY_SELINUX_ALWAYS_PERMISSIVE=y

# ============================================================================
# Proteções Samsung e Knox (DEFEX, PROCA, FIVE, UH/RKP)
# ============================================================================
# CONFIG_SECURITY_DEFEX is not set
# CONFIG_PROCA is not set
# CONFIG_FIVE is not set
# CONFIG_UH is not set
# CONFIG_UH_RKP is not set

# ============================================================================
# Subssistema de Integridade (Substitui o erro do integrity.h)
# ============================================================================
# CONFIG_INTEGRITY is not set
# CONFIG_INTEGRITY_SIGNATURE is not set
# CONFIG_INTEGRITY_ASYMMETRIC is not set
# CONFIG_INTEGRITY_TRUSTED_KEYRING is not set
# CONFIG_INTEGRITY_AUDIT is not set
